# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read
  pages: write
  id-token: write
      
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 24
      uses: actions/setup-java@v4
      with:
        java-version: '24'
        distribution: 'temurin'

    # Configure Gradle for optimal use in GitHub Actions, including caching of downloaded dependencies.
    # See: https://github.com/gradle/actions/blob/main/setup-gradle/README.md
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582 # v4.0.0
    - name: fix priv
      run: chmod +x ./gradlew
    - name: Build with Gradle Wrapper
      run: ./gradlew test
    - name: setup html
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: test-report
        path: build/reports/tests/test
    - name: configure page
      if: github.ref== 'refs/heads/master' && always()
      uses: actions/configure-pages@v4
    - name: upload page
      if: github.ref == 'refs/heads/master' && always()
      uses: actions/upload-pages-artifact@v3
      with:
        path: build/reports/tests/test/
  deploy:
    if: github.ref == 'refs/heads/master'
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    
    steps:
    - name: pages deploy
      id: deployment
      uses: actions/deploy-pages@v4
      
